<section class="form animated fadeIn delayed_animation">
  <h2 class="form_header"><%= t('form.title') %></h2>

  <div class="form_group_dynamic">
    <label for="from-name"><%= t('form.name_label') %></label>
    <input type="text" id="from-name"/>
    <span class="input_error_container" id="from-name-error"><%= t('form.error_blank') %></span>
  </div>

  <p type="<%= t('form.email_and_number_label') %>">
    <div class="row">
      <div class="col-md-6">
        <div class="form_group_dynamic">
          <label for="from-email"><%= t('form.email_placeholder') %></label>
          <input type="email" id="from-email"/>
          <span class="input_error_container" id="from-email-error"><%= t('form.error_blank') %></span>
        </div>
      </div>

      <div class="col-md-6 margin_above_mobile">
        <div class="form_group_dynamic">
          <label for="from-email"><%= t('form.number_placeholder') %></label>
          <input type="tel" id="from-number"/>
          <span class="input_error_container" id="from-number-error"><%= t('form.error_blank') %></span>
        </div>
      </div>
    </div>
  </p>

  <p type="<%= t('form.length_label') %>" class="dropdown_label">
    <select type="text" class="fastselect" name="fastselect-len" id="fastselect-len" >
      <option selected value="<%= t('form.length_250') %>"><%= t('form.length_250') %></option>
      <option value="<%= t('form.length_500') %>"><%= t('form.length_500') %></option>
      <option value="<%= t('form.length_750') %>"><%= t('form.length_750') %></option>
      <option value="<%= t('form.length_1000') %>"><%= t('form.length_1000') %></option>
      <option value="<%= t('form.length_1500') %>"><%= t('form.length_1500') %></option>
      <option value="<%= t('form.length_2000') %>"><%= t('form.length_2000') %></option>
      <option value="<%= t('form.length_2500') %>"><%= t('form.length_2500') %></option>
      <option value="<%= t('form.length_3000') %>"><%= t('form.length_3000') %></option>
      <option value="<%= t('form.length_3500') %>"><%= t('form.length_3500') %></option>
      <option value="<%= t('form.length_4000') %>"><%= t('form.length_4000') %></option>
      <option value="<%= t('form.length_4500') %>"><%= t('form.length_4500') %></option>
      <option value="<%= t('form.length_5000') %>"><%= t('form.length_5000') %></option>
      <option value="<%= t('form.length_5000+') %>"><%= t('form.length_5000+') %></option>
    </select>
  </p>

  <p type="<%= t('form.type_label') %>" class="dropdown_label">
    <select type="text" class="fastselect" name="fastselect-type" id="fastselect-type" >
      <option value="<%= t('form.type_business') %>" selected><%= t('form.type_business') %></option>
      <option value="<%= t('form.type_marketing') %>"><%= t('form.type_marketing') %></option>
      <option value="<%= t('form.type_education') %>"><%= t('form.type_education') %></option>
      <option value="<%= t('form.type_legal') %>"><%= t('form.type_legal') %></option>
      <option value="<%= t('form.type_medical') %>"><%= t('form.type_medical') %></option>
      <option value="<%= t('form.type_religious') %>"><%= t('form.type_religious') %></option>
      <option value="<%= t('form.type_other') %>"><%= t('form.type_other') %></option>
    </select>
  </p>

  <div class="relative_container">
    <p type="<%= t('form.sample_label') %>">
      <div class="uploaded_file_name_container">
        <span id="uploaded_file_name"><span></span><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
      <div class="progress-wrapper">
        <div class="progress">
          <div class="progress-bar" role="progressbar">
            0%
          </div>
        </div>
      </div>
      <%= form_for @upload do |f| %>
        <div class="upload_file_container">
          <%= f.file_field :file, required: true, multiple: false, title: t('form.add_file_text') %>
        </div>
      <% end %>

      <span class="input_error_container" id="upload-file-error"><%= t('form.error_file') %></span>
    </p>
  </div>

  <div class="control-group">
    <label class="control control--checkbox"><%= t('form.no_sample') %>
      <input type="checkbox" checked="unchecked" id="file-skip-checkbox"/>
      <div class="control__indicator"></div>
    </label>
  </div>

  <p type="<%= t('form.date_label') %>">
    <div class="form_group_dynamic">
      <input type="date" id="due-date" placeholder="mm/dd/yyyy"/>
      <span class="input_error_container" id="due-date-error"><%= t('form.error_blank') %></span>
    </div>
  </p>

  <hr/>

  <div class="form_group_dynamic">
    <label for="from-message"><%= t('form.message_placeholder') %></label>
    <textarea rows='2' data-autoresize id="from-message"></textarea>
    <span class="input_error_container" id="from-message-error"><%= t('form.error_blank') %></span>
  </div>

  <div id="send" class="btn_cool"><%= t('form.send') %></div>

  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div class="email_box">
    <span class="fa fa-envelope-o"></span> <%= t('form.contact_email') %>
  </div>
</section>

<!-- Thank You container is hidden by defaults-->
<section class="thank_you">
  <h3 class="text_centered"><%= t('form.thank_you') %></h3>
  <i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i>
</section>
