<div class="spanish_eng_toggle" title="Click to translate to Spanish" data-val="<%= @lang_to_switch%>"><%= @lang_to_switch %></div>

<div class="hidden" id="cur_year" data-val="<%= @year %>"></div>

<section class="module parallax parallax_main">
  <div class="container">
    <div class="header_container animated fadeInUp">
      <h1>YMN Translation Services</h1>
      <h2 class="subtitle"><%= t('hero_section.subtitle') %></h2>
    </div>
  </div>
</section>

<!-- Biography about the company -->
<%= render partial: "about_me" %>

<!-- Key elements to highlight for potential customers -->
<%= render partial: "highlights" %>

<!-- Area where you can submit a translation request -->
<%= render partial: "translation_request" %>
