<div class="spanish_eng_toggle" title="Click to translate to Spanish" data-val="<%= @lang_to_switch%>"><%= @lang_to_switch %></div>

<div class="hidden" id="cur_year" data-val="<%= @year %>"></div>

<section class="module parallax parallax_main">
  <div class="container">
    <div class="header_container animated fadeInUp">
      <div class="header_container_images">
        <%= image_tag("ymn_logo_long.png", alt: "YMN Translation Services Logo", class: "main_logo") %>
        <%= image_tag(t('header.secondary_logo_path'), alt: "Spanish English Translation", class: "secondary_logo") %>
      </div>
      <div class="header_container_bottom">yolanda@ymntranslation.com</div>
    </div>
  </div>
</section>

<!-- Biography about the company -->
<%= render partial: "about_me" %>

<!-- Key elements to highlight for potential customers -->
<%= render partial: "highlights" %>

<!-- Translation types offered -->
<%= render partial: "offerings" %>

<!-- Area where you can submit a translation request -->
<%= render partial: "translation_request" %>
