<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Allows for custom favicon-->
    <%= favicon_link_tag '/favicon.ico'%>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Link to Julius Sans One -->
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Crimson+Text:400,400italic" rel="stylesheet" type="text/css">
    <!-- Link to Crimson Text -->
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Crimson+Text:400,400italic" rel="stylesheet" type="text/css">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
